[MASTER]
load-plugins=pylint_django
django-settings-module=ci.settings
ignore=ci,migrations,.venv,build,dist

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    duplicate-code

[FORMAT]
max-line-length=120
